



#divCenter {
    background-color: #e1e1e1; 
    width: 400px; 
    height: 150px; 
    left: 50%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%;
}

.colorindo li > a {
    font-family: Arial, Helvetica, sans-serif;
    color: #e0f7fa ;
}
.lista-template li {
    margin: 5px 0;
    padding: 0;
    list-style: initial;
    font-size:14px;;
    color: white;
}
.login {
    background-color:white; 
    width: 350px; 
    height: 150px; 
    left: 50%; 
    margin: -170px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%; 
}
.formulario {
    width: 300px;
}
.botao {
    width: 300px;
    border: 0;
    color: white;
    background: #0277bd;
    height: 50px;
}
main {
    min-height: calc(100vh - 100px - 180px);
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
}
